.cartButton {
    width: 100px;
    height: 40px;
    background-color: #DB3D44;
    float: right;
    /* margin-top: -28%;  */
    border: None;
}

.cartSpan{
    color: white;
    padding: 10px;
    font-size: 20px;
}
