.clickButton{
    width: "100px";
    height: "40px";
    background-color: "#DB3D44";
    float: "right";
    border:"None";
}

.bigGrid{
    padding-left: 65px;
}

.header{
    margin-top: 2%;
    margin-bottom: 8%;
}

.cartSpan{
    color:"white";
    padding:"10px";
    font-size:"20px";
}
